.container{
    display:flex;
    justify-items: center;
    justify-content: space-around;
}

.tab{
    display:flex;
    gap:20px;
    font-weight: 300;
}

.tab div{
    display:flex;
    align-items: center;
    gap:5px;
    justify-content: space-around;
}


/* .tab div:hover{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding:8px;
    color:var(--buttonPrimary);
    font-weight: 500;
    cursor: pointer;
} */

.files{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding:10px;
    color:var(--buttonPrimary);
    font-weight: 500;
}

.search{
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap:30px;
}


.images{
    background-color: var(--bg);
    width: 50;
    height: 50;
    border-radius: 50%;
}
.imageController{
    border-radius: 50%;
    object-fit: cover;
    height: 50;
    width: 50;

}

.input{
    display: flex;
    align-items: center;
    gap:2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);

}

.input span{
    background-color: var(--bg);
    padding:9px;
    border-radius:5px 0px 0px 5px;
}

.input input{
    background-color: var(--bg);
    padding:5px 7px;
    width: 100%;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    border: 1px solid #e5e7eb;
    font-weight: 200px;
}