.container{
    display:flex;
    flex-direction: column;
    background-color: var(--bg);
    margin:20px 30px;
    padding:10px;
    border-radius: 5px;;
    min-height: 80vh;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    justify-content: space-between;
}


.container ul li{
    display: flex;
    align-items: center;
    gap:10px;
    padding:10px;
    width: 100%;

}


.container ul li:hover{
    background-color: var(--hoverEffect);
    border-radius: 5px;
    color:var(--buttonPrimary)
}

.isActive{
    background-color: var(--hoverEffect);
    border-radius: 5px;
    color:var(--buttonPrimary)

}