@import "tailwindcss";

:root {
  --buttonPrimary: #0c15f8;
  --hoverEffect: #acc0e2;
  --bg: #FFFFFF;
  --color: black;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(180deg,
      rgb(208, 208, 208) 50%,
      rgb(255, 254, 254) 50%);
  font-family: 'Inter', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}