.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid var(--hoverEffect);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    padding: 10px 30px;
    border-radius: 10px;
}

/* .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

.title {
    font-weight: 500;
}

.subtitle {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 300;
}

.container:hover {
    background-color: var(--hoverEffect);
    cursor: pointer;
}